backports.zoneinfo==0.2.1
blinker==1.4
catboost==1.1
category-encoders==2.4.0
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
contourpy==1.0.5
cryptography==2.8
cycler==0.11.0
# dbus-python==1.2.16
dirty-cat==0.3.0
distlib==0.3.1
distro==1.4.0
entrypoints==0.3
fonttools==4.38.0
graphviz==0.20.1
httplib2==0.14.0
idna==2.8
Jinja2==3.1.2
joblib==1.1.0
keyring==18.0.1
kiwisolver==1.4.4
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
liac-arff==2.5.0
lightgbm==3.3.2
MarkupSafe==2.1.1
matplotlib==3.6.1
minio==7.1.12
netifaces==0.10.4
numpy==1.22.3
oauthlib==3.1.0
openml==0.12.2
packaging==21.3
pandas==1.4.1
patsy==0.5.2
pexpect==4.6.0
Pillow==9.2.0
plotly==5.10.0
pyaml==21.10.1
pyarrow==9.0.0
pycparser==2.21
# PyGObject==3.36.0
PyJWT==1.7.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
rpy2==3.5.6
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.8.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.14.0
ssh-import-id==5.10
statsmodels==0.13.2
stopit==1.1.2
tenacity==8.1.0
threadpoolctl==3.1.0
tqdm==4.63.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.25.8
virtualenv==20.4.2
virtualenvwrapper==4.8.4
wadllib==1.3.3
xmltodict==0.13.0
